<section class="about" id="about">
  <div class="container">
    <h2 class="about__title">
      Мы помогаем всем мужчинам выглядеть уверенно
    </h2>

    <p class="about__description">
      Сhik chik — это намного больше, чем просто барберная. Это место, где вам помогут найти свой собственный, неповторимый стиль. Стоит довериться нашим мастерам один раз, и, поверьте, новый образ не оставит Вас равнодушным. Мужские стрижки и опасное бритье — это наш профиль, и мы уверены, что наши барберы делают это лучше всех.
    </p>

    <ul class="about__list">
      <li class="about__item">
        <h3 class="about__item-title">
          Топ специалисты
        </h3>
        <p class="about__item-description">
          Мы подстрижем вас на высшем уровне
        </p>
      </li>

      <li class="about__item">
        <h3 class="about__item-title">
          Мастера бород и усов
        </h3>
        <p class="about__item-description">
          Мы заботливо уложим вашу бороду и усы
        </p>
      </li>

      <li class="about__item">
        <h3 class="about__item-title">
          Гарантия качества
        </h3>
        <p class="about__item-description">
          Мы используем только профессиональные средства
        </p>
      </li>
    </ul>
  </div>
</section>
