<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <img class="footer__logo" src="img/logo.svg" alt="Логотип барбершоп Chik-chik">

      <div class="footer__navigation navigation">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a href="#price" class="navigation__link">Стоимость услуг</a>
          </li>

          <li class="navigation__item">
            <a href="#about" class="navigation__link">О нас</a>
          </li>
        </ul>
      </div>

      <ul class="footer__list-developers">
        <li class="footer__developer">
          Designer: <a href="https://t.me/Mrshmallowww">Anastasia Ilina</a>
        </li>
        <li class="footer__developer">
          Developer: <a href="https://t.me/webdev_alexey">Alexey</a>
        </li>
      </ul>

      <p class="footer__copyright">
        © chik chik, 2023
      </p>
    </div>
  </div>
</footer>
