<header class="header">
  <div class="container">
    <img class="header__logo" src="img/logo.svg" alt="Логотип барбершоп Chik-chik">

    <nav class="header__navigation navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="#price" class="navigation__link">Стоимость услуг</a>
        </li>

        <li class="navigation__item">
          <a href="#about" class="navigation__link">О нас</a>
        </li>
      </ul>
    </nav>

    <a href="#reserve" class="header__link">Записаться</a>
  </div>
</header>
