<section class="hero">
  <div class="container">
    <h1 class="hero__title">
      <span class="visually-hidden">Барбершоп Chik-chik</span>
      <span>Мы создаём искусство, которое не стыдно показать</span>
    </h1>

    <div class="hero__slider slider">
      <div class="slider__container">
        <ul class="slider__list">
          <li class="slider__item">
            <img class="slider__img" src="img/slider/1.jpg" alt="">
          </li>
          <li class="slider__item">
            <img class="slider__img" src="img/slider/2.jpg" alt="">
          </li>
          <li class="slider__item">
            <img class="slider__img" src="img/slider/3.jpg" alt="">
          </li>
          <li class="slider__item">
            <img class="slider__img" src="img/slider/4.jpg" alt="">
          </li>
          <li class="slider__item">
            <img class="slider__img" src="img/slider/5.jpg" alt="">
          </li>
          <li class="slider__item">
            <img class="slider__img" src="img/slider/6.jpg" alt="">
          </li>
          <li class="slider__item">
            <img class="slider__img" src="img/slider/7.jpg" alt="">
          </li>
          <li class="slider__item">
            <img class="slider__img" src="img/slider/8.jpg" alt="">
          </li>
        </ul>

        <button class="slider__arrow slider__arrow_left" aria-label="предыдущий слайд"></button>
        <button class="slider__arrow slider__arrow_right" aria-label="следующий слайд"></button>
      </div>
    </div>
  </div>
</section>
