<section class="price" id="price">
  <div class="container">
    <h2 class="price__title">
      Стоимость наших услуг
    </h2>

    <p class="price__tagline">
      ...бесценна, но всё же
    </p>

    <div class="price__wrapper-content">
      <div class="price__content">
        <ul class="price__list">
          <li class="price__item">
            <span class="price__item-title">Стрижка ножницами</span>
            <span class="price__item-count">2500 руб</span>
          </li>
          <li class="price__item">
            <span class="price__item-title">Стрижка машинкой</span>
            <span class="price__item-count">2000 руб</span>
          </li>
          <li class="price__item">
            <span class="price__item-title">Стрижка + стрижка бороды</span>
            <span class="price__item-count">3000 руб</span>
          </li>
          <li class="price__item">
            <span class="price__item-title">Стрижка + моделирование бороды</span>
            <span class="price__item-count">4000 руб</span>
          </li>
          <li class="price__item">
            <span class="price__item-title">Бритье головы</span>
            <span class="price__item-count">1500 руб</span>
          </li>
          <li class="price__item">
            <span class="price__item-title">Укладка</span>
            <span class="price__item-count">1500 руб</span>
          </li>
          <li class="price__item">
            <span class="price__item-title">Оформление бровей</span>
            <span class="price__item-count">1000 руб</span>
          </li>
        </ul>

        <a href="#reserve" class="price__link main-link">Записаться</a>
      </div>
    </div>
  </div>
</section>
