<section class="reserve" id="reserve">
  <div class="container">
    <h2 class="reserve__title">
      Как записаться к нам
    </h2>

    <ol class="reserve__list">
      <li class="reserve__item">
        Выберите услугу, можно выбрать сразу несколько
      </li>
      <li class="reserve__item">
        Выберите специалиста
      </li>
      <li class="reserve__item">
        Выберите удобный день и время
      </li>
    </ol>

    <form class="reserve__form">
      <div class="reserve__form-container">
        <fieldset class="reserve__fieldset">
          <legend class="reserve__legend">
            Услуга
          </legend>

          <label class="radio">
            <input class="radio__input" type="radio" name="service">
            <span class="radio__label">
              Стрижка ножницами
            </span>
          </label>

          <label class="radio">
            <input class="radio__input" type="radio" name="service">
            <span class="radio__label">
              Стрижка машинкой
            </span>
          </label>

          <label class="radio">
            <input class="radio__input" type="radio" name="service">
            <span class="radio__label">
              Стрижка + стрижка бороды
            </span>
          </label>

          <label class="radio">
            <input class="radio__input" type="radio" name="service">
            <span class="radio__label">
              Стрижка + моделирование бороды
            </span>
          </label>

          <label class="radio">
            <input class="radio__input" type="radio" name="service">
            <span class="radio__label">
              Бритье головы
            </span>
          </label>

          <label class="radio">
            <input class="radio__input" type="radio" name="service">
            <span class="radio__label">
              Укладка
            </span>
          </label>

          <label class="radio">
            <input class="radio__input" type="radio" name="service">
            <span class="radio__label">
              Оформление бровей
            </span>
          </label>
        </fieldset>

        <fieldset class="reserve__fieldset">
          <legend class="reserve__legend">
            Специалист
          </legend>

          <label class="radio">
            <input class="radio__input" type="radio" name="spec">
            <span class="radio__label radio__label_spec">
              Игорь
            </span>
          </label>

          <label class="radio">
            <input class="radio__input" type="radio" name="spec">
            <span class="radio__label radio__label_spec">
              Анатолий
            </span>
          </label>

          <label class="radio">
            <input class="radio__input" type="radio" name="spec">
            <span class="radio__label radio__label_spec">
              Руслан
            </span>
          </label>

          <label class="radio">
            <input class="radio__input" type="radio" name="spec">
            <span class="radio__label radio__label_spec">
              Михаил
            </span>
          </label>

          <label class="radio">
            <input class="radio__input" type="radio" name="spec">
            <span class="radio__label radio__label_spec">
              Евгений
            </span>
          </label>
        </fieldset>

        <fieldset class="reserve__fieldset">
          <legend class="reserve__legend">
            Дата и время
          </legend>

          <fieldset class="reserve__fieldset reserve__fieldset_sub">
            <label class="radio">
              <input class="radio__input" type="radio" name="month">
              <span class="radio__label">
                Январь
              </span>
            </label>

            <label class="radio">
              <input class="radio__input" type="radio" name="month">
              <span class="radio__label">
                Февраль
              </span>
            </label>

            <label class="radio">
              <input class="radio__input" type="radio" name="month">
              <span class="radio__label">
                Март
              </span>
            </label>
          </fieldset>

          <fieldset class="reserve__fieldset reserve__fieldset_sub">
            <label class="radio">
              <input class="radio__input" type="radio" name="day">
              <span class="radio__label">
                18 января
              </span>
            </label>

            <label class="radio">
              <input class="radio__input" type="radio" name="day">
              <span class="radio__label">
                19 января
              </span>
            </label>

            <label class="radio">
              <input class="radio__input" type="radio" name="day">
              <span class="radio__label">
                20 января
              </span>
            </label>

            <label class="radio">
              <input class="radio__input" type="radio" name="day">
              <span class="radio__label">
                21 января
              </span>
            </label>
          </fieldset>

          <fieldset class="reserve__fieldset reserve__fieldset_sub">
            <label class="radio">
              <input class="radio__input" type="radio" name="time">
              <span class="radio__label">
                10:00-11:30
              </span>
            </label>

            <label class="radio">
              <input class="radio__input" type="radio" name="time">
              <span class="radio__label">
                11:30-13:00
              </span>
            </label>

            <label class="radio">
              <input class="radio__input" type="radio" name="time">
              <span class="radio__label">
                13:00-14:30
              </span>
            </label>

            <label class="radio">
              <input class="radio__input" type="radio" name="time">
              <span class="radio__label">
                14:30-16:00
              </span>
            </label>

            <label class="radio">
              <input class="radio__input" type="radio" name="time">
              <span class="radio__label">
                16:00-17:30
              </span>
            </label>

            <label class="radio">
              <input class="radio__input" type="radio" name="time">
              <span class="radio__label">
                17:30-19:00
              </span>
            </label>

            <label class="radio">
              <input class="radio__input" type="radio" name="time">
              <span class="radio__label">
                19:00-20:30
              </span>
            </label>
          </fieldset>
        </fieldset>
      </div>

      <button class="reserve__btn main-link">Записаться</button>
    </form>
  </div>
</section>
