html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  font-family: $font-family, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: $light-color;
  background-color: $dark-color;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  margin: 0 auto;
  padding: 0 $container-offset;
  max-width: $container-width;

  @include mobile {
    padding: 0 24px;
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.main-link {
  display: inline-block;
  border-radius: 4px;
  padding: 13px 46px;
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  color: $dark-color;
  background: $light-color;
  cursor: pointer;

  &:focus-visible {
    outline: 1px solid #fff;
  }

  &:hover:not(:disabled) {
    background: $hover-color;
  }

  &:disabled {
    opacity: 0.4;
  }

  @include mobile {
    padding: 10px 24px;
    font-size: 12px;
  }
}
