// base
$font-family: "Raleway";
$content-width: 1216px;
$container-offset: 48px;
$container-width: calc($content-width + ($container-offset * 2));

// colors
$light-color: #f6f3e3;
$border: #bfbdb2;
$dark-color: #241d1c;
$hover-color: #efe7be;
